<!DOCTYPE html>
<html lang="english">
  <head>
    <title> meArm PnP </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
      <br />
      <p style="text-align:center" id="demo"></p>
      <div>
          <link href="../static/myframes.css" rel="stylesheet" />
          <div class="container">
              <h1 style="text-align:center">meArm PnP</h1>
              <div class="frame-main">
                  <div class="frame-left">
                      <div class="frame-feed-main">
                          <div class="vertical-text">Latest scan result</div>
                          <img id="main" src="../static/images/test.png"
                               alt="Scan output MAIN"
                               class="feed-main" />
                      </div>
                      
                      <div class="frame-left-bottom">
                          <div class="vertical-text">Archive</div>
                          <div class="item-1">
                              <img id="sub1" src="../static/images/test.png"
                                   alt="Scan output SUB 1"
                                   class="feed-sub" />
                          </div>
                          <div class="item-1">
                              <img id="sub2" src="../static/images/test.png"
                                   alt="Scan output SUB 2"
                                   class="feed-sub" />
                          </div>
                          <div class="item-1">
                              <img id="sub3" src="../static/images/test.png"
                                   alt="Scan output SUB 3"
                                   class="feed-sub" />
                          </div>
                      </div>
                  </div>
                  <div class="frame-right">
                      <div class="frame-right-stat">
                          <div class="item-stat" id="stat_speed">Arm speed: 1</div>
    <div class="item-stat" id="stat_targetCount">Targets detected: 0</div>
    <div class="item-stat" id="stat_status">System status: STARTED</div>
                          <!--<div class="item-stat">111</div>
                          <div class="item-stat">2223456</div>
                          <div class="item-stat">333</div>-->
                      </div>
                      <div class="frame-right-top">
                          <a href="/start" class="button">Start</a>
                          <a href="/stop" class="button">Stop</a>
                          <a href="/clear_log" class="button">Clear Log</a>
                      </div>
                      <div class="console" id="log">
                          ...pending server responses...

                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend nibh vitae sollicitudin ornare. Proin vel dignissim magna, sit amet iaculis mauris. Praesent venenatis quis nisi in aliquet. Vestibulum justo lorem, vulputate eu lectus id, finibus tincidunt nulla. Donec ultrices leo non suscipit ultrices. Ut id elementum eros, id scelerisque enim. Morbi sed justo nibh. Aenean a ultrices ante. Aliquam lobortis lorem vitae ligula pretium, in iaculis orci egestas. Duis pulvinar sagittis felis vel egestas. Cras eu ipsum sapien. Aenean in volutpat massa.

                          Integer iaculis ex vitae erat ornare tempor. Aenean rutrum justo accumsan velit condimentum, congue tristique nunc commodo. In dui tortor, efficitur nec consectetur in, ultrices ut justo. Morbi erat nibh, vestibulum a felis ut, posuere viverra nibh. Nullam ut arcu odio. Morbi at neque nec ipsum volutpat bibendum. Cras consectetur erat vitae libero malesuada, in placerat velit commodo. Nunc sit amet lacus in enim dapibus vehicula eu eu nulla. Quisque consectetur pharetra vehicula. Fusce at ex urna. Aliquam in lectus et nulla blandit volutpat. Vestibulum vitae ex at magna auctor pharetra. Ut eleifend euismod quam eu ornare. Sed feugiat tincidunt accumsan.

                          Donec at dapibus nisl. Fusce vel justo mi. Curabitur rutrum cursus nunc, fermentum tincidunt turpis facilisis at. Nullam ornare eros at sem feugiat vestibulum. Aenean eget sagittis massa, sed blandit dolor. Praesent bibendum vitae ex nec iaculis. Aliquam euismod in sapien fermentum viverra.

                          Maecenas a nulla vitae sem bibendum lobortis non id nisl. Integer rhoncus ornare felis sed tincidunt. Duis mollis vehicula metus sed gravida. Suspendisse dictum tincidunt erat, ut bibendum ex feugiat vitae. Pellentesque dictum luctus lacus, id tristique lectus molestie tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam elementum at sem eu dignissim. Duis vel imperdiet sem, eu faucibus lacus. Praesent justo dolor, interdum quis erat in, condimentum semper justo. Sed urna mauris, lobortis volutpat consequat congue, ornare quis diam. Maecenas eget porta erat. Ut sed enim porta, tristique mauris a, finibus arcu. Fusce hendrerit odio vel eros bibendum placerat. Mauris feugiat convallis massa, eu fringilla ligula consequat eget.

                          In dolor justo, molestie nec augue nec, suscipit convallis elit. Vestibulum faucibus libero eget risus consequat, at fringilla orci lacinia. Nam auctor metus quis arcu commodo facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus maximus non risus vitae accumsan. Nullam dapibus placerat gravida. Pellentesque vitae eleifend nisl. Suspendisse at eros augue. Nam ac dapibus eros. Praesent scelerisque nulla ac ante vulputate, quis mattis mauris ornare. Praesent a rutrum erat. Etiam malesuada odio sit amet quam accumsan, eget bibendum massa tempor. Suspendisse at interdum eros. Vivamus consequat turpis sit amet elit mollis, eget maximus ante ullamcorper. Nulla at ipsum tempor, porta elit vel, blandit ante.
                          Maecenas a nulla vitae sem bibendum lobortis non id nisl. Integer rhoncus ornare felis sed tincidunt. Duis mollis vehicula metus sed gravida. Suspendisse dictum tincidunt erat, ut bibendum ex feugiat vitae. Pellentesque dictum luctus lacus, id tristique lectus molestie tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam elementum at sem eu dignissim. Duis vel imperdiet sem, eu faucibus lacus. Praesent justo dolor, interdum quis erat in, condimentum semper justo. Sed urna mauris, lobortis volutpat consequat congue, ornare quis diam. Maecenas eget porta erat. Ut sed enim porta, tristique mauris a, finibus arcu. Fusce hendrerit odio vel eros bibendum placerat. Mauris feugiat convallis massa, eu fringilla ligula consequat eget.
                          Maecenas a nulla vitae sem bibendum lobortis non id nisl. Integer rhoncus ornare felis sed tincidunt. Duis mollis vehicula metus sed gravida. Suspendisse dictum tincidunt erat, ut bibendum ex feugiat vitae. Pellentesque dictum luctus lacus, id tristique lectus molestie tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam elementum at sem eu dignissim. Duis vel imperdiet sem, eu faucibus lacus. Praesent justo dolor, interdum quis erat in, condimentum semper justo. Sed urna mauris, lobortis volutpat consequat congue, ornare quis diam. Maecenas eget porta erat. Ut sed enim porta, tristique mauris a, finibus arcu. Fusce hendrerit odio vel eros bibendum placerat. Mauris feugiat convallis massa, eu fringilla ligula consequat eget.
                          Maecenas a nulla vitae sem bibendum lobortis non id nisl. Integer rhoncus ornare felis sed tincidunt. Duis mollis vehicula metus sed gravida. Suspendisse dictum tincidunt erat, ut bibendum ex feugiat vitae. Pellentesque dictum luctus lacus, id tristique lectus molestie tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam elementum at sem eu dignissim. Duis vel imperdiet sem, eu faucibus lacus. Praesent justo dolor, interdum quis erat in, condimentum semper justo. Sed urna mauris, lobortis volutpat consequat congue, ornare quis diam. Maecenas eget porta erat. Ut sed enim porta, tristique mauris a, finibus arcu. Fusce hendrerit odio vel eros bibendum placerat. Mauris feugiat convallis massa, eu fringilla ligula consequat eget.
                          Maecenas a nulla vitae sem bibendum lobortis non id nisl. Integer rhoncus ornare felis sed tincidunt. Duis mollis vehicula metus sed gravida. Suspendisse dictum tincidunt erat, ut bibendum ex feugiat vitae. Pellentesque dictum luctus lacus, id tristique lectus molestie tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam elementum at sem eu dignissim. Duis vel imperdiet sem, eu faucibus lacus. Praesent justo dolor, interdum quis erat in, condimentum semper justo. Sed urna mauris, lobortis volutpat consequat congue, ornare quis diam. Maecenas eget porta erat. Ut sed enim porta, tristique mauris a, finibus arcu. Fusce hendrerit odio vel eros bibendum placerat. Mauris feugiat convallis massa, eu fringilla ligula consequat eget.
                          Maecenas a nulla vitae sem bibendum lobortis non id nisl. Integer rhoncus ornare felis sed tincidunt. Duis mollis vehicula metus sed gravida. Suspendisse dictum tincidunt erat, ut bibendum ex feugiat vitae. Pellentesque dictum luctus lacus, id tristique lectus molestie tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam elementum at sem eu dignissim. Duis vel imperdiet sem, eu faucibus lacus. Praesent justo dolor, interdum quis erat in, condimentum semper justo. Sed urna mauris, lobortis volutpat consequat congue, ornare quis diam. Maecenas eget porta erat. Ut sed enim porta, tristique mauris a, finibus arcu. Fusce hendrerit odio vel eros bibendum placerat. Mauris feugiat convallis 
massa, eu fringilla ligula consequat eget.
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <script src="{{ url_for('static', filename='site-updater.js') }}"></script>
  </body>
</html>
